@{
    ViewData["Title"] = "View Cart";
}

<link rel="stylesheet" href="~/css/timelineStyles.css"/>

<div class="mt-5">
    <div class="d-flex justify-content-between timeline-step mx-auto px-4">
        <div class="dot active text-extra-smallest text-sm-smaller"></div>
        <div class="line"></div>
        <div class="dot text-extra-smallest text-sm-smaller"></div>
        <div class="line"></div>
        <div class="dot text-extra-smallest text-sm-smaller"></div>
        <div class="line"></div>
        <div class="dot text-extra-smallest text-sm-smaller"></div>
        <div class="line"></div>
        <div class="dot text-extra-smallest text-sm-smaller"></div>
    </div>
</div>