@{
    ViewData["Title"] = "Delete Account Verification Page";
}

<div class="row justify-content-center mt-4">
    <div class="col-sm-12 col-md-10 col-lg-8 col-xl-6">
        <div class="card p-3 border border-0">
            <div class="text-center">
                <img class="card-img-top img-fluid" style="max-width:100px; max-height:100px;" src="~/images/emailSentSuccessfully.jpg" alt="success image">
            </div>
            <div class="card-body">
                <h3 class="card-title text-center mb-3">Account Successfully Deleted</h3>
                <p class="card-text text-center">
                    We are sad to see you go!<br>
                    An email has been sent to your email account, which will confirm your account deletion.<br>
                    If you have any issues or questions you can contact us through are support email kinnaskonstantinos0@gmail.com.<br>
                </p>
                <div class="text-center mt-4">
                    <a asp-controller="Home" asp-action="Index" class="btn btn-lg btn-primary">Continue To Home</a>
                </div>
            </div>
        </div>
    </div>
</div>

