/*.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}
*/
/* makes the height each page at least equal to the size of the clients screen*/
html { 
  position: relative;
  min-height: 100%;
}

:root {
    --accent-orange: #FF5E00;
}

/*
body { something about sticky footer
  margin-bottom: 60px;
}*/

body {
    background-color: white !important;
    color: black !important;
    font-family: 'Georgia Regular', Georgia, serif;
}

::selection {
    background-color: var(--accent-orange) !important;
    color: white !important;
}

.btn {
    outline: none !important;
    box-shadow: none !important;
    border:none;
    outline: 0;
}

.btn-primary {
    background-color: var(--accent-orange) !important;
    color: white !important;
}

.btn-outline-primary {
    color: var(--accent-orange);
    border-color: var(--accent-orange) !important;
}

.btn-outline-primary:hover,
.btn-outline-primary:focus,
.btn-outline-primary:active,
.btn-outline-primary.active,
.show > .btn-outline-primary.dropdown-toggle {
    color: white;
    background-color: var(--accent-orange);
    border-color: var(--accent-orange);
}

.btn-secondary {
    background-color: black !important;
    color: white !important;
}

.text-primary {
    color: black !important;
}

.text-secondary {
    color: #484848 !important;
}

.text-info {
    color: var(--accent-orange) !important;
}

.text-biggest {
    font-size: 1.25rem; /* 20px */
}

.text-bigger {
    font-size: 1.125rem; /* 18px */
}

.text-smaller {
    font-size: 0.875rem; /* 14px */
}

.text-smallest {
    font-size: 0.75rem; /* 12px */
}

.text-extra-smallest {
    font-size: 0.6rem;
}

@media (min-width: 576px) {
    .text-sm-biggest {
        font-size: 1.25rem;
    }

    .text-sm-bigger {
        font-size: 1.125rem;
    }

    .text-sm-smaller {
        font-size: 0.875rem;
    }

    .text-sm-smallest {
        font-size: 0.75rem;
    }
}

@media (min-width: 768px) {
    .text-md-biggest {
        font-size: 1.25rem;
    }

    .text-md-bigger {
        font-size: 1.125rem;
    }

    .text-md-smaller {
        font-size: 0.875rem;
    }

    .text-md-smallest {
        font-size: 0.75rem;
    }
}

@media (min-width: 992px) {
    .text-lg-biggest {
        font-size: 1.25rem;
    }

    .text-lg-bigger {
        font-size: 1.125rem;
    }

    .text-lg-smaller {
        font-size: 0.875rem;
    }

    .text-lg-smallest {
        font-size: 0.75rem;
    }
}

@media (min-width: 1200px) {
    .text-xl-biggest {
        font-size: 1.25rem;
    }

    .text-xl-bigger {
        font-size: 1.125rem;
    }

    .text-xl-smaller {
        font-size: 0.875rem;
    }

    .text-xl-smallest {
        font-size: 0.75rem;
    }
}

.hover-black:hover {
    color: black !important;
}

.custom-link {
    text-decoration: none !important;
}

.custom-link:hover {
    color: var(--accent-orange) !important;
    cursor: pointer !important;
}

.custom-fontweight {
    font-weight: 600;
}

@media (min-width: 992px) {
    .custom-container {
        max-width: 75% !important;
    }
}

input:focus, textarea:focus, select:focus {
    border-color: var(--accent-orange) !important;
    box-shadow: 0px 0px 5px var(--accent-orange) !important;
}

.custom-outline:focus {
    border-color: var(--accent-orange) !important;
    box-shadow: 0px 0px 5px var(--accent-orange) !important;
}

.btn-close:focus {
    outline: none;
    box-shadow: none;
}

.form-check-input {
    margin-top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #eaeaea;
}

.form-check-input:checked {
    background-color: var(--accent-orange) !important;
    border-color: #eaeaea !important;
    box-shadow: none !important;
}

.form-check-input:not(:checked) {
    border-color: #eaeaea !important;
    box-shadow: none !important;
}

.form-check-input:focus {
    outline: none;
    border-color: #eaeaea !important;
    box-shadow: none !important;
}

.btn-hoverable-box-shadow:hover {
    border-color: var(--accent-orange) !important;
    box-shadow: 0 0 5px var(--accent-orange) !important;
}

.custom-col {
    flex: 0 0 20%;
    max-width: 20%;
}

@media (max-width: 576px) {
    .custom-col {
        flex: 0 0 33%;
        max-width: 33%;
    }
}

@media (min-width: 576px) and (max-width: 768px) {
    .custom-col {
        flex: 0 0 33%;
        max-width: 33%;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .custom-col {
        flex: 0 0 25%;
        max-width: 25%;
    }
}

@media (min-width: 992px) {
    .custom-col {
        flex: 0 0 20%;
        max-width: 20%;
    }
}

.dropdown-menu-navbar {
    position: absolute;
    top: 33px;
    cursor: default;
}

@media (max-width: 991px) {
    .dropdown-menu-navbar {
        width: 100vw !important;
        left: 0 !important;
        right: 0 !important;
    }
}

@media (min-width: 992px) {
    .dropdown-menu-navbar {
        width: 75vw !important;
    }
}

/* /////////////////////////// */

/* specific modal */
#forgotPasswordModalDialog {
    width: 500px !important;
}

@media (max-width: 992px) {
    #forgotPasswordModalDialog {
        max-width: 400px !important;
    }
}

@media (max-width: 576px) {
    #forgotPasswordModalDialog {
        max-width: 100% !important;
        margin: 0;
    }
}

/* modals */
.custom-center-modal {
    top: 70px;
    left: 50%;
    transform: translate(-50%) !important;
}

@media (min-width: 576px) {
    .custom-center-modal {
        top: 50px;
        left: 50%;
        transform: translate(-50%) !important;
    }
}

@media (min-width: 992px) {
    .custom-center-modal {
        top: 95px;
        left: 50%;
        transform: translate(-50%) !important;
    }
}

.custom-center-modal {
    width: 500px !important;
}

@media (max-width: 992px) {
    .custom-center-modal {
        max-width: 400px !important;
    }
}

@media (max-width: 576px) {
    .custom-center-modal {
        max-width: 100% !important;
        margin: 0;
    }
}

/* popup modals */
.custom-center-modal .modal-confirm {
    width: auto;
}

.custom-center-modal.modal-result {
    top: 73px; /*42*/
}

@media (min-width: 576px) {
    .custom-center-modal.modal-result{
        top: 73px; /*47*/
    }
}

@media (min-width: 992px) {
    .custom-center-modal.modal-result {
        top: 120px; /*88*/
    }
}

.modal-confirm {
    width: 375px;
}

.modal-confirm .modal-content {
    padding: 20px;
    border-radius: 5px;
    border: none;
    overflow: visible;
}

.modal-confirm .modal-header {
    border-bottom: none;
    position: relative;
    justify-content: center;
}

.modal-confirm h4 {
    text-align: center;
    font-size: 26px;
    margin: 30px 0 -15px;
}

.modal-confirm .btn {
    min-height: 38px;
}

.modal-confirm .modal-footer {
    border: none;
    text-align: center;
    border-radius: 5px;
    font-size: 13px;
}

.modal-confirm.modal-dialog {
    margin-top: 40px; /* fixes the circle issue 40*/
}

.modal-confirm .icon-box {
    color: #fff;
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: -60px;
    width: 80px; /*90*/
    height: 80px; /*90*/
    border-radius: 50%;
    z-index: 9;
    background: var(--accent-orange);
    padding: 15px;
    text-align: center;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}

.modal-confirm .icon-box i {
    font-size: 45px; /*58*/
    position: relative;
    top: 3px;
}

.pagination .page-link {
    color: black;
    border-color: #d3d3d3;
    background-color: #F5F5F5;
    border:none;
}

.pagination .page-link:hover {
    color: var(--accent-orange);
}

.pagination .page-item.active .page-link {
    background-color:inherit;
    color: var(--accent-orange);
}

.pagination .no-background{
    background-color:inherit;
}

.pagination .page-link.special:hover {
    color: white;
    background-color: var(--accent-orange);
}

.page-link:focus,
.page-link:focus-visible {
    outline: none;
    box-shadow: none;
}

.dropdown-menu .dropdown-item:active,
.dropdown-menu .dropdown-item:focus,
.dropdown-menu .dropdown-item:hover {
    background-color: var(--accent-orange) !important;
    color: white !important;
}

.custom-box-shadow {
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.3);
}

.custom-box-shadow-no-top {
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.3);
}

@media (max-width: 1199.99px) {
    #filtersSection {
        transform: translateX(-100%);
        position: fixed;
        top: 192px;
        left: 0;
        max-height: 50vh;
        width: 75%;
        background: white;
        z-index: 1040;
        overflow-y: auto;
        padding-left: 0px;
        padding-right: 0px;
    }
}

@media (min-width: 768px) and (max-width: 1199.99px) {
    #filtersSection {
        width: 50%;
    }
}

@media (min-width: 1200px) {
    #filtersSection {
        position: sticky !important;
        top: 135px;
        align-self: flex-start !important;
    }
}