.timeline-step {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    max-width: 650px;
}

.dot {
    display: inline-block;
    text-decoration: none;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #999;
    z-index: 1;
    position: relative;
}

.dot.active {
    background-color: var(--accent-orange);
}

.line {
    flex-grow: 1;
    height: 2px;
    background-color: #999;
    margin-left: 3px;
    margin-right: 3px
}

    .line.active {
        background-color: var(--accent-orange);
    }

/* Add label below the dot using ::after */
.dot.step-1::after {
    content: 'ΚΑΛΑΘΙ';
}

.dot.step-2::after {
    content: 'ΕΙΣΟΔΟΣ';
}

.dot.step-3::after {
    content: 'ΠΛΗΡΟΦΟΡΙΕΣ\a       ΠΕΛΑΤΗ';
    white-space: pre;
}

.dot.step-4::after {
    content: '    ΣΤΟΙΧΕΙΑ\aΠΑΡΑΓΓΕΛΙΑΣ';
    white-space: pre;
}

.dot.step-5::after {
    content: 'ΟΛΟΚΛΗΡΩΣΗ';
}

.dot::after {
    position: absolute;
    top: 25px;
    left: 50%;
    transform: translateX(-50%);
    color: #999;
    white-space: nowrap;
}

.dot.active::after {
    color: var(--accent-orange);
}
